th, td {
  vertical-align: middle !important;
}

.form-check-input {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}
.permission-header {
  white-space: nowrap;
  font-size: 0.875rem;
}

