<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <!-- Étape 1: Informations personnelles -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Informations Personnelles</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Nom et Prénoms</mat-label>
        <input matInput formControlName="nomprenoms" required>
      </mat-form-field>
      <!-- Ajoutez les autres champs de cette étape ici -->
      <div>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <!-- Étape 2: Informations académiques -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Informations Académiques</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Baccalauréat</mat-label>
        <input matInput formControlName="baccalaureat">
      </mat-form-field>
      <!-- Ajoutez les autres champs de cette étape ici -->
      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <!-- Étape 3: Informations sur les responsables -->
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Informations sur les Responsables</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Nom du Père</mat-label>
        <input matInput formControlName="nompere">
      </mat-form-field>
      <!-- Ajoutez les autres champs de cette étape ici -->
      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <!-- Étape 4: Informations supplémentaires -->
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Informations Supplémentaires</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Copie du Bac</mat-label>
        <input matInput formControlName="copiebac">
      </mat-form-field>
      <!-- Ajoutez les autres champs de cette étape ici -->
      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button (click)="stepper.reset()">Réinitialiser</button>
        <button mat-button (click)="onSubmit()">Soumettre</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>