.form-section {
  margin-bottom: 24px;
  padding: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.form-field {
  flex: 1;
  min-width: 200px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 24px;
}
.form-label {
  font-weight: bold;
  color: blue;
}
.titre{
  color: blue;
  font-size: 20px;
  font-weight: bold;
}
.ng-invalid.ng-touched {
  border-color: #dc3545; /* Rouge pour les champs invalides */
}