.table thead th {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }
  
  .table tbody tr:hover {
    background-color: #f8f9fa; /* Couleur de survol */
  }
  
  .btn-outline-primary {
    transition: all 0.3s ease;
  }
  
  .btn-outline-primary:hover {
    background-color: #0d6efd;
    color: #fff;
  }
  
  .btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
  }