/* Pour les groupes de boutons radio */
.btn-group {
  &.flex-wrap {
    gap: 0.5rem;
    padding: 0.5rem;
    
    .btn {
      flex: 1 0 auto;
      white-space: nowrap;
      margin: 2px;
      border-radius: 5px !important;
    }
  }
}

/* Pour les checkbox */
.form-check-inline {
  margin-right: 1.5rem;
  
  .form-check-input {
    margin-right: 0.5rem;
    width: 1.2em;
    height: 1.2em;
    
    &:checked {
      background-color: var(--bs-primary);
      border-color: var(--bs-primary);
    }
  }
}