<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container">
    <a routerLink="/tb-preinscr" class="navbar-brand fw-bold">
      <i class="fas fa-graduation-cap me-2"></i>KRANJA APP
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <!-- <li class="nav-item">
          <a routerLink="/preinscription" class="nav-link active" aria-current="page">
            <i class="fas fa-user-edit me-1"></i>Préinscription
          </a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-list-alt me-1"></i>Gestion Commerciale
          </a>
          <ul class="dropdown-menu shadow" aria-labelledby="navbarDropdownMenuLink1">
            <li><a class="dropdown-item" routerLink="/preinscription/list-preins"><i class="fas fa-caret-right me-2"></i>Préinscription</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-caret-right me-2"></i>Sous-menu 1.2</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-caret-right me-2"></i>Sous-menu 1.3</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-th-list me-1"></i>Menu 2
          </a>
          <ul class="dropdown-menu shadow" aria-labelledby="navbarDropdownMenuLink2">
            <li><a class="dropdown-item" href="#"><i class="fas fa-caret-right me-2"></i>Sous-menu 2.1</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-caret-right me-2"></i>Sous-menu 2.2</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-caret-right me-2"></i>Sous-menu 2.3</a></li>
          </ul>
        </li>
      </ul>

      <!-- Boutons à droite -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-cog me-1"></i> Paramètres
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-sign-out-alt me-1"></i> Déconnexion
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>